footer{
    padding: 4rem 0;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("./images/background-pattern.svg");
        background-size: cover;
        background-position: center;
        opacity: 0.5; 
        z-index: 1;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        z-index: 2;

        @include mobile{
            grid-template-columns: 1fr 1fr 1fr;
        }

        .brand-information{
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .footer-logo{
                height: 100%;
                width: 10rem;
            }

            .footer-socials{
                display: flex;
                gap: .5rem;

                .social-link{
                    width: 2rem;
                }
            }
        }

        .contact-information{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .5rem;
        }

        .search-container{
            display: flex;
            align-items: center;
            
            .search-bar{
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid 1px var(--color-light);
                border-radius: 30px;
                padding: 1rem;
                width: 50%;
    
                @include mobile{
                    width: 100%;
                }
    
                .search-glass{
                    width: 1rem;
                }
                
                .search-input{
                    background-color: transparent;
                    border: none;
                    width: 100%;
                }
            }
        }
    }
}