header{
    padding: 2rem 0;
    position: relative;
    z-index: 10;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo{
            width: 10rem;
        }

        .header-menu{
            display: flex;
            gap: 3rem;

            .link{
                font-size: 1.1rem;
            }
        }

        .btn{
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .mobile-menu{

            .menu-button{
                background-color: transparent;
                border: none;
            }

            .menu-icon{
                width: 2.5rem;
            }

            #burger-menu{
                z-index: 100;
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                transform: translateX(100%);
                transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out; 
            
                &.hidden { 
                    opacity: 0;
                    transform: translateX(100%); 
                    pointer-events: none; 
                }
            
                &:not(.hidden) {
                    opacity: 1;
                    transform: translateX(0);
                }

                .burger-top{
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;
                    padding: 3rem 2rem;
                    
                    .menu-button{
                        align-self: start;

                        .menu-icon{
                            width: 1.5rem;
                        }
                    }
                    
                    .link{
                        font-size: 2.5rem;
                    }
                }

                .burger-bottom{
                    display: flex;
                    padding: 2rem;
                    gap: 1rem;
                }
            }
        }
    }
}